<div class="container">
  <h2> Create your survey!</h2>
    <form action="/survey", method="post">
      <input type="text" name="name" placeholder="Survey Name"/>
      <input type="submit" name="submit" value="Create Survey" />
    </form>
</div>

